export(mvOU,mvBM,mvEB,mvSHIFT,mv.Precalc,mvLL,mvSIM,LRT,halflife,stationary)
import(ape,phytools,corpcor,subplex,spam)
useDynLib(mvMORPH,simmap_covar,simmap_weights,seq_root2tipM,mvmorph_weights,times_root,Chol_RPF_quadprod,PIC_gen,mvmorph_covar_ou,mvmorph_covar_ou_sparse,mvmorph_covar_mat,mvmorph_covar_ou_rpf,kronecker_shiftEB_BM,kronecker_shiftEB_OU,kronecker_shift,kroneckerSpar_shift_EB_BM,kroneckerSpar_shift_OU_EB,kroneckerSpar_shift,kronecker_mvmorph,kroneckerSumSpar,kroneckerSum,kroneckerSparEB,kroneckerEB,givens_ortho,Chol_RPF_univ,Chol_RPF_quadprod_column,Chol_RPF,spherical)
exportClasses("mvmorph","bm","ou","acdc","shift","mvmorph.lrt","mvmorph.precalc")
importFrom("stats", AIC, simulate, logLik)
S3method(summary, mvmorph)
S3method(logLik, mvmorph)
S3method(AIC, mvmorph)
S3method(simulate, mvmorph)
S3method(AICc, mvmorph)
S3method(halflife, mvmorph)
S3method(stationary, mvmorph)
S3method(print, bm)
S3method(print, ou)
S3method(print, acdc)
S3method(print, shift)
S3method(print, mvmorph.lrt)
S3method(print, mvmorph.precalc)