export(mvOU,mvBM,mvEB,mvSHIFT,mv.Precalc,mvLL,mvSIM,LRT,halflife,stationary,estim,mvOUTS,mvRWTS,aicw)
import(ape,phytools,corpcor,subplex,spam)
useDynLib(mvMORPH,simmap_covar,seq_root2tipM,mvmorph_weights,times_root,Chol_RPF_quadprod,PIC_gen,mvmorph_covar_ou_fixed,mvmorph_covar_ou_random,mvmorph_covar_ou_sparse,mvmorph_covar_mat,mvmorph_covar_ou_rpf_fixed,mvmorph_covar_ou_rpf_random,kronecker_shiftEB_BM,kronecker_shiftEB_OU,kronecker_shift,kroneckerSpar_shift_EB_BM,kroneckerSpar_shift_OU_EB,kroneckerSpar_shift,kronecker_mvmorph,kroneckerSumSpar,kroneckerSum,kroneckerSparEB,kroneckerEB,givens_ortho,Chol_RPF_univ,Chol_RPF_quadprod_column,Chol_RPF,spherical,Expect_matrix,Chol_RPF_only,Chol_RPF_univ_only,Weight_matrix)
exportClasses("mvmorph","mvmorph.bm","mvmorph.ou","mvmorph.acdc","mvmorph.shift","mvmorph.lrt","mvmorph.precalc","mvmorph.llik","mvmorph.aicw","mvmorph.estim")
importFrom("stats", AIC, simulate, logLik, pchisq, rnorm, runif, optim, cov)
S3method(summary, mvmorph)
S3method(logLik, mvmorph)
S3method(AIC, mvmorph)
S3method(simulate, mvmorph)
S3method(AICc, mvmorph)
S3method(halflife, mvmorph)
S3method(stationary, mvmorph)
S3method(print, mvmorph.bm)
S3method(print, mvmorph.ou)
S3method(print, mvmorph.acdc)
S3method(print, mvmorph.shift)
S3method(print, mvmorph.lrt)
S3method(print, mvmorph.precalc)
S3method(print, mvmorph.estim)
S3method(print, mvmorph.llik)
S3method(print, mvmorph.aicw)