useDynLib(mvMORPH, .registration = TRUE)
export(mvOU,mvBM,mvEB,mvSHIFT,mv.Precalc,mvLL,mvSIM,LRT,halflife,stationary,estim,mvOUTS,mvRWTS,aicw,pruning)
import(ape,phytools,corpcor,subplex,spam)
exportClasses("mvmorph","mvmorph.bm","mvmorph.ou","mvmorph.acdc","mvmorph.shift","mvmorph.lrt","mvmorph.precalc","mvmorph.llik","mvmorph.aicw","mvmorph.estim","mvmorph.var")
importFrom("stats", AIC, simulate, logLik, pchisq, rnorm, runif, optim, cov)
S3method(summary, mvmorph)
S3method(logLik, mvmorph)
S3method(AIC, mvmorph)
S3method(simulate, mvmorph)
S3method(AICc, mvmorph)
S3method(halflife, mvmorph)
S3method(stationary, mvmorph)
S3method(print, mvmorph.bm)
S3method(print, mvmorph.ou)
S3method(print, mvmorph.acdc)
S3method(print, mvmorph.shift)
S3method(print, mvmorph.lrt)
S3method(print, mvmorph.precalc)
S3method(print, mvmorph.estim)
S3method(print, mvmorph.llik)
S3method(print, mvmorph.aicw)